body
{
font-family:calibri;
margin:0 0 0 0;
position:absolute;
width:100%;
}

.fTop
{
position:relative;
float:top;
}
.fLeft
{
position:relative;
float:left;
}
.redFont
{
color:red;
}
.centeredText
{
text-align:center;
}
.redBorder
{
border-color:red;
border-width:1px;
border-style:solid;
}
.fullHeight
{
height:auto;
}
.justify
{

text-align:justify;
margin-left:15%;
margin-right:15%;
}
.standardFont
{
font-size:12;
}
.stepBar
{
position:relative;
float:top;
margin-left:25%;
margin-right:25%;
top:5%;
height:20%;
}
.signupStepBody
{
position:relative;
margin-left:25%;
margin-right:25%;
padding-left:5%;
padding-right:5%;
padding-top:2%;
float:top;
width:628px;
height:400px;
background-color:#eceef4;
}
.mainBlueColor
{
background-color:#eceef4;
}

.fileChooseButton
{
z-index:2;
opacity:0;
background-color:red;
}
.fileChooseButtonWrap
{
width:auto;
background-color:red;
}
.placeAtBottom
{
position:relative;
float:top;
float:right;
top:2%;
}
.mainBodyPolicy
{
margin-top:2%;
background-color:white;

}
.resetPass
{
position:relative;
margin-top:5%;
left:10%;
background-color:white;
width:557px;
height:293px;
}
.resetPass label , img
{
text-align:center;
padding-left:5%;
}
.resetPass input
{
margin-top:1%;
}
.resetPassBottom
{
position:relative;
padding:0,0,0,0;
width:557px;
bottom:40px;
left:10%;
}
}
#picturePreview
{
background-color:black;
border-style:inset;
border-color:white;
border-width:2px;
width:250px;
height:250px;
}
#picturePreview img
{
width:100%;
height:100%;
}
#header
{
position:relative;
background-color:#3b5998;
width:100%;
height:83px;
max-height:83px;

}
#header img
{
position:relative;
float:left;
padding-left:184px;
}
#submitButtonlogin
{
background-color:#5f78ab;
color:white;
border-width:1px;
border-color:blue;
border-style:solid;
}
#loginForm
{

position:relative;
float:right;
margin-right:173px;
bottom:80px;
}

#loggedInNav
{
position:relative;
float:right;
margin-right:173px;
bottom:80px;
}
#loggedInNav a
{
position:relative;
top:25px;
}
#loginForm  table
{
color:white;
}
#loginForm label,a
{
color:#98a9ca;
}
#mainBodyHomepage
{
position:relative;
margin-bottom:2%;
background-color:#e7ebf2;
float:top;
height:615px;
}

#newsHeading
{
float:left;
margin-left:5%;
text-align:center;
color:#8f9092;
}
#newsHeading h1
{
color:#333333;
}
#newsHeading img
{
width:548px;
height:314px;
}
#newsHeading a
{
color:#3b5998;
}

#signupForm
{
position:relative;
float:right;
width:405px;
height:541px;
margin-left:2.97%;
margin-right:10%;
margin-top:0.5%;
color:#8f9092;
bottom:15%;;
font-size:14;
}
#signupForm h1 ,label
{
color:#333333;
}

#signupForm input
{
height:37px;
margin-top:8px;
}
#signupLineBreak
{
position:relative;
width:100%;
}
#signupButton
{
background-image:url('images/login/signupButton.jpg');
width:144px;
font-weight:bold;
color:white;
font-size:15;
border-color:#3b6e22;
border-width:1px;
}
.Input398px
{
width:398px;
}
.Input192px
{
width:192px;
}
.thumbnailPreview
{
width:75px;
height:75px;
}
.thumnailPreview img
{
position:relative;
width:100%;
height:100%;
overflow:hidden;
}




#footer
{
position:relative;
float:top;
height:135px;
width:100%;
background-color:white;
}
#pictureControl
{
position:relative;
left:10px;
top:200px;
z-index:2;
display:none;
}
#coverPhoto
{
position:relative;
float:top;
width:70%;
height:300px;
min-height:300px;
left:13.5%;

}
#coverPhoto img
{
padding:0 0 0 0;
border-width:2px;
border-color:gray;
border-style:inset;
height:100%;
width:100%;
}
.proPicEdit
{
position:relative;
top:150px;
right:830px;
}
.halfWidth
{
width:100%;
}

.wall
{
position:relative;
padding-left:10%;
margin-top:25%;
margin-left:10%;
background-color:#D3D7D6;
border-color:gray;
border-style:inset;
border-width:2px;
width:70%;
height:auto;
min-height:700px;

-webkit-border-radius:32px;
-moz-border-radius:32px;
border-radius:32px;
}
.wall input[type=text]
{

width:500px;
height:50px;


}
.profileWrapper
{
margin-top:1%;
margin-left:13%;
padding:10 10 10 10;
width:70%;
height:auto;
min-height:1000px;
}
.profileInfo
{
width:70%;
background-color:#D3D7D6;
height:18%;
border-width:1px;
border-color:white;
border-style:inset;

}
.profileInfoText
{
color:#223D86;
}
.profileOptions
{
position:relative;
left:40%;
top:20%;
}
.profileOptions img
{
border-color:black;

}
.profileOptions label
{
left:-50;
}

#PasswordRecoveryBox
{
position:relative;
float:left;
margin-left:30%;
margin-top:67px;
width:556px;
height:366px;
border-color:#cccccc;
border-width:2px;
border-style:solid;

}
#PasswordRecoveryBox input
{
margin-left:33px;
}
#PasswordRecoveryContent
{
padding-left:144px

}
#submissions
{
background-color:#f2f2f2;
border-color:#cccccc;
border-width:2px;
border-style:solid;
height:28px;
}
#wrapperPasswordRecovery
{
position:relative;
margin-bottom:30px;
float:top;
height:615px;
}
.tinyThumbnail
{
width:100px;
height:100px;
}

#propic
{
width:200px;
height:200px;
}
#frndpropic
{
width:200px;
height:200px;
}
#searchProfileHead
{
position:relative;
float:left;
right:70%;
top:-10;
}
#searchProfileHead input
{
height:30px;
}
#searchButton
{
position:relative;
float:left;
float:top;
width:20px;
height:30px;
bottom:50%;
z-index:30;
left:20%;
top:-30;
}
#pictureChanger
{
display:none;
position:relative;
/*right:10px;*/
top:210px;
}
#logOut
{
position:relative;
float:left;
right:-150px;
bottom:90;
}

#notifications
{

top:6px;
right:400%;
}
#notifications button
{
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
padding: 2 2 2 2;
color:white;
background-color:gray;
border-width:1px;
border-color:white;
border-style:solid;
width:15px;
}

#searchPageGallery
{
width:100%;

}
#addFriendButton
{
position:relative;
float:top;
top:-60;
left:80;
}
.postWall
{
width:500px;
height:50px;
background-color:#CCCCFF;
color:#000033;
border-width:2px;
border-color:black;
border-style:groove;
}
/*Gallery reference : http://www.w3schools.com/css/css_image_gallery.asp */

.GalleryImage
  {
 
  border:1px solid #0000ff;
  height:100;
  width:100;
  float:left;
  margin-right:10px;
  margin-top:30px;

  }
.GalleryImage img
  {
 padding-left:0;
  height:100%;
  width:100%;
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
.GalleryImage a:hover img
  {
  border:1px solid #0000ff;
  }
.GalleryCaption
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }
  #frendIcon
  {
 position:relative;
float:top;
bottom:27; 
left:-20;
 }
 #addFrendButton
 {
position:relative;
float:top;
top:50px;
left:-400;
 }
#pendingRequests
{

top:32px;
right:420%;
height:auto;
}
#pendingRequests img
{
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
color:white;
width:30px;
height:20px;
}